  /* Limitar el tamaño máximo de las imágenes */
  .card-img-top {
    max-width: 100%;
    max-height: 00px; /* Establece la altura máxima deseada */
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
}
.card {
    margin: 20px 0;
}